Package: com.huami.WCPluginsOrder
Name: 插件管理排序
Description: An awesome MobileSubstrate tweak!
Maintainer: huami
Author: huami
Section: 微信插件
Icon: https://qi-ting-zhang.github.io/sileo/images/icon/wechat.png
Sileodepiction: https://qi-ting-zhang.github.io/sileo/sileodepiction/cjglpx.json
Depends: mobilesubstrate (>= 0.9.5000)
Architecture: iphoneos-arm64
Version: 1.0.2
Installed-Size: 204
